// .swiper-pagination-bullets.swiper-pagination-horizontal
// width auto
html.lenis
  height auto

.leftarrow, .rightarrow, .btn, .navbar, .link
  user-select none

.w-nav
  z-index 200

.navbar-wrap--sticky
  .navbar__logo
    color black

  .navbar__menu__link
    color black

  .navbar__btn
    display flex
    padding-bottom 4px

.accordion__text
  display none

.hero__info__title
  z-index 20

.hero__info__titleMark
  z-index 20

.hero__info__title-mark::before
  content url('https:\/\/uploads-ssl.webflow.com\/63eaa604a8a840ce06c9aa6d\/63eb9be563b7cf6636cf97b2_Vectors-Wrapper.svg')
  position absolute
  top 60%
  left 60%
  transform translate(-50%, -50%)
  z-index -1

.what__left::before
  content ''
  display block
  width 240px
  height 100%
  background #FB9700
  position absolute
  top 0
  left 0
  transform translateX(-100%)

html.w-editor::after
  display none !important

// swiper-------------------
.swiper-wrapper
  grid-column-gap 0 !important
  grid-row-gap 0 !important

.consultaion__color-bg__img-bg
  filter drop-shadow(-50px 50px 30px rgba(0, 0, 0, 0.1))

.why__card
  background-color white

.how__swiper, .blog__swiper, .about__blog__swiper
  margin 0 !important
  // width 100% !important

.leftarrow, .rightarrow
  cursor pointer

.consultation__color-bg__img-bg
  filter drop-shadow(-200px 200px 200px rgba(0, 0, 0, 0.5))

.how__container, .blog__container, .about__blog__container
  --swiper-theme-color #fb9700
  --swiper-pagination-bullet-size 10px
  --swiper-pagination-bullet-inactive-color white
  --swiper-pagination-bullet-inactive-opacity 1
  --swiper-pagination-bullet-horizontal-gap 10px

.results__img
  margin 0 !important

.how__container .swiper-wrapper, .about__blog__container .swiper-wrapper
  display block

.results__img
  margin 0 !important

.results__logos__slide
  width auto !important

.why__logos
  width 100%
  height 80px
  overflow visible !important

  .swiper-slide-thumb-active
    // background #000
    filter none
    opacity 1
    transition-duration 0.5s
    transition-property filter, opacity

  .logos__item
    // height auto !important
    width auto
    // max-height 100%
    height 100% !important
    max-width 110px
    // max-height 70px
    object-fit contain

  .results__logos__slide
    cursor pointer
    display flex
    align-items center
    // background #999
    // height 100% !important

.my-career__swiper
  overflow visible !important

.my-career__swiper-slide
  width auto !important

.results
  // width 100%
  // overflow hidden

.webinars__title__swiper
  // .swiper-wrapper
  // display flex
  // gap 60px !important
  .webinars__title
    transition all 0.4s

  .swiper-slide
    cursor pointer

  .swiper-slide:hover
    .webinars__title
      color #fb9700
      transition all 0.4s

  .swiper-slide-thumb-active
    cursor default

    .webinars__title
      color #fb9700

@media screen and (min-width 769px)
  .why__swiper
    // margin 0 !important

    // overflow visible !important

    // width 960px
    // height 280px
    .swiper-wrapper
      display grid
      grid-row-gap 30px !important

  .why__bullets
    display none

@media screen and (max-width 991px)
  .hero__info__title-mark::before
    transform translate(-50%, -50%) scale(0.7)

@media screen and (max-width 768px)
  .navbar__menu__link
    color white !important

  .hero__info__title-mark::before
    transform translate(-50%, -50%) scale(0.5)

  .how__container .swiper-wrapper, .blog__container .swiper-wrapper, .about__blog__container .swiper-wrapper
    display flex
    align-items start

  .why__swiper
    height 400px

    // padding 5px !important
    .swiper-wrapper
      display flex
      flex-wrap wrap

    .swiper-slide
      height calc(((100% - 40px) / 2)) !important

  .results__img
    width auto
    height auto !important

  .results__img-wrap
    overflow hidden

  .webinars__title_swiper
    .swiper-slide
      // width 120px !important

@media only screen and (max-width 640px)
  .consultaion__img__color-bg
    filter drop-shadow(-70px 70px 70px rgba(0, 0, 0, 0.9))

  .how__swiper, .blog__swiper, .about__blog__swiper
    overflow hidden !important
    // width 400px !important

@media only screen and (max-width 480px)
  .why__logos
    height 60px
    width 100%
    overflow visible !important

    .logos__item
      height auto
      // width auto
      // max-height 80px
      max-width 120px
      // width 120px
      // height auto

  .testimonials__item__logos
    justify-content space-evenly

  .testimonials__logo
    display flex
    justify-content center

    svg
      max-height 60px
      max-width 80px

.swiper-pagination
  position relative !important

// var(--swiper-pagination-bullet-inactive-color, #fff) !important
.how__titleNav__arrows
  z-index 100 !important

.text-img__img--career
  clip-path url('#maskCareer')

.text-img__img--success
  clip-path url('#maskSuccess')

.text-img__img--life
  clip-path url('#maskLife')

.w--current
  color #FB9700 !important

// RESOURCES -----------------------
.hero__blog__item-wrap:hover
  cursor pointer
  transition all 0.5s

  .hero__blog__title
    // text-decoration underline
    color #fb9700

  .btn--resources
    border-color #fb9700 !important
    color #fb9700 !important

.white-paper__swiper
  overflow hidden
  filter drop-shadow(-70px 70px 70px rgba(0, 0, 0, 0.05))

.link--card:hover
  transition all 0.4s

  .card--white-paper__hover
    opacity 1

  .pdf-img
    // top -10px
    transform translate(-50%, -70%)
    transition all 0.4s
    filter drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.1))

  .white-paper__title
    text-decoration underline
    text-decoration-color #fb9700

  .card--white-paper__img
    background-size auto 110%
    transition all 1.5s
    // background-blend-mode luminosity
    // backdrop-filter grayscale(100%)

.pdf-img
  transition all 0.4s

// CONTACT ----------------------------------------------------------------
.contact__link
  text-decoration-color #FB9700

// FAQ ----------------------------------------------------------------
.faq .accordion__item:first-child
  border-top-width 0